@font-face {
  font-family: 'LED';
  font-style: normal;
  font-weight: normal;
  src: local('LED'), url('../fonts/digital-7 (mono).ttf') format('truetype');
}

body {
	text-align: center;
}

.time {
	color:#32cd32;
	font-family: 'LED';
	font-size: 300px;
	background-color: black;
}

.time-expired {
	color:red;
	font-family: 'LED';
	font-size: 300px;
	font-weight: bold;
	background-color: black;
}

.stopwatch-container {
	padding: 10px;
}

.log {
	overflow: auto;
	width:700px;
	height:180px;
	text-align: left;
}